aiogram == 2.14.3
scipy == 1.6.3
numpy == 1.19.5
matplotlib == 3.4.2
pandas == 1.2.4
sklearn == 0.24.2
yfinance == 0.1.63
pandas_datareader == 0.9.0
bs4 == 4.9.3
nltk == 3.6.2
PIL == 8.2.0
